.shop-container {
    padding-top: 10%;
    background:linear-gradient(to right, #378db9, #add8e7, #4aacde);
    position: relative;

}

.pet-shop-heading{
    text-align: center;
    color: white;
    font-size: 75px;
    margin-bottom: 20px;
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
}

.cart-icon-container {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 100; /* Ensure it's above other elements */
}

.cart-icon {
    position: relative;
    margin-top: 80px;
    width: 40px;

}

.cart-count {
    margin-right: 5px;
    margin-top: 65px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2d5278;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.product-box {
    width: 200px;
    height: 300px;
    border: none;
    border-radius: 10px;
    margin: 20px 10px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px
}

.product-image {
    width: 100%;
    height: 260px;
    border-radius: 10px;
    transition: transform 0.3s ease;  
}

.product-info {
    margin-top: 10px;
    text-align: center;
}

.add-to-cart {
    margin-top: 10px;
    background-color: #4c8ac9;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.8s;
    width: 12em;
}

.cart-slide {
    margin-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background:linear-gradient(to right, #2f88b5, #60b9d9, #2b8dbe);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 20px;
    z-index: 10;
    transition: transform 5s;
    transform: translateX(0);
}

.quantity-controls {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.cart-total {
    font-weight: bold;
    margin: 20px 0;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    padding: 10px;
}

.checkout, .cancel {
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.cart-item-add-button{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    width: 2em;
    font-size: 20px;
    transition: 0.8s;
}

.product-name{
    letter-spacing: 1px;
    font-size: 20px;
}

.product-price{
    font-size: 18px;
    margin-top: 5px;
    font-weight: 500;
}


.cart-remove-button{
    border: none;
    border-radius: 8px;
    width: 5em;
    height: 2em;
    color: rgb(233, 54, 54);
    transition: 0.8s;
}

.cart-slide h2{
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 2.5em;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cart-total{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(12, 31, 69);
    font-size: 1.5em;
}

.checkout{
    border: none;
    color: rgb(89, 199, 89);
    border-radius: 5px;
    background-color: rgb(225, 246, 246);
    width: 7em;
    height: 3.5em;
    font-size: 1em;
    transition: 0.8s;
}

.cancel{
    border: none;
    border-radius: 5px;
    background-color: rgb(225, 246, 246);
    width: 5em;
    height: 3.5em;
    font-size: 1em;
    transition: 0.8s;
}

.cart-item-description{
    color: azure;
    font-size: 1.08 em;
}

ul {
    max-height: 60vh; 
    overflow-y: auto; 
}

/*******************************Hover Effects*********************************/

.cart-remove-button:hover{
    color: white;
    background-color: rgb(233, 54, 54) ;
    cursor: pointer;
}

.checkout:hover{
    background-color: rgb(89, 199, 89);
    color:  white;

}

.cart-item-add-button:hover{
    cursor: pointer;
    background-color: #3597ee;
}

.cancel:hover{
    color: red;
    background-color: #b8d0dc;
}

.add-to-cart:hover{
    border-style: solid;
    border-width: 1px;
    border-color: #007bff;
    background-color: aliceblue;
    color: #007bff;
    
}

.product-box:hover .product-image {
    transform: scale(1.1);  
}
