.headerTopic{
    background: linear-gradient(to bottom,rgb(79, 180, 220),rgba(217,217,217,255));
    height: 250px;
    margin: 0;
    padding-top: 5%;
    min-width: 1300px;
}




.topic {
    margin-top: 20px;
    font-size: 85px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 500; 
    color: #0A4E64;     
    margin-bottom: 10px; 
    animation: bloom 0.8s ease-out forwards; /* Apply blooming animation */
    background: linear-gradient(to right, #0c212e, #42667a, #0c212e); /* Define the gradient colors */
    background-clip: text; /* Clip the background to the text */
    color: transparent; 
    font-family:"Roboto", sans-serif;
    font-weight: 300;
}

.topicDescription {
    font-size: 23px;
    font-family:"Roboto", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 1000px; 
    margin: 0 auto; 
    color: #3E5C7A;
    animation: bloom 1s ease-out forwards; /* Apply animation with a slight delay */
    animation-delay: 0.2s; /* Delays the description blooming */
    margin-bottom: 50px;
}

.pet-collage{
    width: 100%;
}

